.dashboard-container {
  width: 60%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.profile-header {
  width:800px; 
  height:350px; 
  display: flex;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}
.profile-left{
   border: 1px solid red;
}
.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.bio {
  margin-top: 10px;
  color: #555;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile-info {
  margin-left: 20px;
}

.connect-btn {
  padding: 6px 14px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tabs button {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.tabs button.active {
  background-color: #2563eb;
  color: white;
  font-weight: bold;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 30px;
  min-height: 250px;
}

.content-box {
  font-size: 18px;
}
